*,
*::before,
*::after {
            box-sizing: border-box;
    }

/* costume properties*/

:root {
        --ff-primary: sans-serif;
        --ff-secondary: monospace;

        --fw-reg: 300;
        --fw-bold: 900;

        --clr-light: #f2e5bc;
        --clr-dark: #282828;
        --clr-header: #b16286;
        --clr-accent: #98971a;
        --clr-btn-bg: #504945;
        --clr-btn-fg: #fbf1c7;
        --clr-selection-bg: #3c3836;
        --clr-selection: #f9f5d7;
        --fs-h1: 3rem;
        --fs-h2: 2.25rem;
        --fs-h3: 1.25rem;
        --fs-body: 1rem;
    }


@media (min-width: 800px){
        :root {
            --fs-h1: 4.5rem;
            --fs-h2: 3.75rem;
            --fs-h3: 1.5rem;
            --fs-body: 1.125rem;

        }
    }



/*General styles*/

body{
        background: var(--clr-dark);
        color: var(--clr-light);
        margin: 0;
        font-family: var(--ff-primary);
        font-size: var(--fs-body);
        line-height: 1.6;
        border: 10px solid var(--clr-dark);
    }

/*    
img {
        display: block;
        max-width: 49.99%;
        height: auto;
    }
*/

strong { font-weight: var(--fw-bold)};


/* Typography */

h1,
h2,
h3{
    line-height: 1.1;
}

h1 { font-size: var(fs-h1);
    color: var(--clr-header);
}
h2 { font-size: var(fs-h2);
    color: var(--clr-header);
}
h3 { font-size: var(fs-h3);
    color: var(--clr-header);
}

.section__title {
    margin-bottom: .5em;
    margin-top: .25em;
}

.section__title--intro{
    font-weight: var(--fw-reg);
}

.section__title--intro strong{
    display: block;
}

.section__subtitle {
    margin: 0;
    margin-top: .25em;
    margin-bottom: 0em;
    font-size: var(--fs-h3);
}

.section__subtitle--intro{
    color: var(--clr-accent);
    background: var(--clr-btn-bg);
    font-family: var(--ff-secondary);
}

.section__subtitle--about{
    color: var(--clr-accent);
    background: var(--clr-btn-bg);
    font-family: var(--ff-secondary);
}


.intro{
    position: relative
}


a:link, a:visited {
  background-color: var(--clr-btn-bg);
  color: var(--clr-btn-fg);
  border: 2px solid var(--clr-accent);*/
  padding: 1px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: var(--clr-selection-bg);
  border:2px solid var(--clr-accent);
  color: var(--clr-light);
}
